* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e4e5f1;
}
header {
  background: url("./assets/light-bg.jpg") no-repeat center center;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 550px;
  transform: translateY(40%);
}
.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

form input {
  width: 100%;
  outline: none;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.1rem;
}
ul {
  display: flex;
  flex-direction: column;
  background: #ffffff;

  margin-top: 2rem;
  padding: 7px 10px;
  border-radius: 5px;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e3e4f1;
  padding: 15px;
}
li:last-child {
  border: none;
}
input[type="checkbox"] {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}
.todo-wrapper {
  display: flex;
}
.delete {
  width: 17px;
  height: 17px;
  border: none;
  color: #e3e4f1;
  background-color: inherit;
  font-size: 1rem;
  cursor: pointer;
}
footer {
  display: flex;
  background: #ffffff;
  justify-content: space-between;
  padding: 16px;
  color: #5b5e7e;
}
.footer-center {
  font-size: 14px;
  display: flex;
  gap: 1.8rem;
}
span {
  cursor: pointer;
}
h2 {
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 15px;
}
